html {
    height: 100%;
}

body {
    background: none repeat scroll 0 0 #1b1b1b;
    font: 13px/22px Helvetica,Arial,sans-serif;
    margin: 0 auto;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    height: 7%;
    width: 100%;
    background: linear-gradient(0, #0b6db9 0, #449ddd 64%, #5ba8ef 65%)
}

.logo {
    margin-left: 35%;
    max-height: 100%;
    max-width: 100%;
}

.logo_text {
    color: #ffffff;
    font-size: 5vh;
    font-weight: bold;
    margin: 1vw;
}

.mainContainer {
    height: 100%;
    width: 100%;
}

.mainContainer_box {
    position: absolute;
    top: 20%;
    left: 5%;

    width: 90%;
    height: 65%;
}

/*
    Player
*/

.player {
    width: 75%;
    height: 100%;
    float: left;
}

.player_header {
    height: 10%;
    width: 100%;
    color: #FFFFFF;
    font-size: 3vh;
    line-height: 5vh;
}

.player_content {
    height: 90%;
    width: 100%;
    border: none;
}

/*
    Explorer
*/

.explorer {
    width: 25%;
    height: 100%;
    float: left;
}

.explorer_toolbar {
    height: 10%;
    width: 100%;
    position: relative;
}

.explorer_toolbar_currPath {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    font-size: 1.6vh;
}

.explorer_toolbar_search {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: right;
}

.explorer_toolbar_search_text {
    width: 20%;
    background: #b8b8b8;
    transition: all 0.3s ease;
}

.explorer_toolbar_search_text.explorer_toolbar_search_text--active {
    width: 80%;
    background: #ffffff;
}

.explorer_toolbar_search_icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url("../img/search.png");
    background-size: cover;
}

.explorer_content {
    height: 90%;
    max-height: 90%;
    width: 100%;
    background: #222;
    color: #b8b8b8;
    cursor: pointer;
    font-size: 16px;
    overflow: auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.explorer_content_item {
}
.explorer_content_item:hover {
    background: #525252;
}
.explorer_content_item.explorer_content_item--active {
    background: #3a3a3a;
}

.explorer_content_item_text {
    vertical-align: middle;
}

.explorer_content_item_icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.folderIcon {
    background-image: url("../img/folder.png")
}

.musicItemIcon {
    background-image: url("../img/musicItem.png")
}